
* {  box-sizing: border-box;}

:root {
  --bg: #282c34;
  --header: #6db607;
  --link: #050505;
  --text: hsla(0, 0%, 100%, 0.88);
  --button: #b6070713;
  --aspect-ratio: auto 1 / 1;};

body {
  display: flex;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Budmo','Segoe UI', 'Showtime', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  width: 100%;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.home {
  display: flex;
  align-items: start;
  justify-content: left;
  flex-direction: column;
  padding: 0px 0px 0px 0px; 
  flex-wrap: nowrap;
  color: var(--text);
  background-color: var(--bg);
  font-family: 'Budmo';}

.home-content {
  display: flex;
  flex-direction: row; }f

.home-content > * {
  flex: 1;}

.login-form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    /*left: 10%;*/
    /*gap: 10px;*/
    /*background-position: center;*/
    /*background-size: 10em;*/
    background-color: var(--bg);
    accent-color: var(--button);
    font-family: 'Budmo';}


.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 10px 300px;
    /*align-items: center;*/
    background-position: center;
    background-size: 100% 100%;
    background-color: var(--bg);
    accent-color: var(--button);
    font-family: 'Budmo';
    }


.contentcontainer {
  display: flex;
  width: 85vw;
  height: 100vh;
  flex: 1;
  /*flex-grow: 1;*/
  /*flex-direction: row;
  flex-wrap: nowrap;*/
  /*align-items: flex-start;
  justify-content: flex-start;*/
  padding: 20px 20px;
  /*left: 100px;*/
  font-family: 'Budmo';
  font-size: 25px; 
  color: var(--text);
  background-position: center;
  background-size: cover;
  background-color: blue;}

.aside {
  display: flex;
  flex-direction: row;
  flex: .2;
  background-color: #23432c;
  align-content: center;
  /*width: 15vw;*/
  height: 100vh;
  /*background-image: url('./posterframe.png');*/
  align-items: start;
  padding: 2rem;
  text-decoration: none;}


.aside ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none; 
  display: absolute;
  gap: 2rem;

}

.aside a {
  color: var(--text);
  text-decoration: none;
  font-size: 25px;
  font-family: 'Budmo';
  align-items: flex-start;
  padding: 1rem;
  flex-wrap: nowrap;
}  
.aside li:active {
  background-color: var(--bg);}

.aside li:hover {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s ease; }

.movie-card {
  position: relative;
  width: 300px; /* Adjust the width as needed */
  height: 450px; /* Adjust the height as needed */
  background-image: url("./components/poster-frame.png");
  background-size: cover;
  background-repeat: no-repeat;;
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.login-form {
    display: relative; }


.sidebar-btn:hover {
  background-color: var(--header);
  color: var(--text);
  transition: background-color 0.3s ease; } 

.sidebar-btn:active {
  background-color: var(--button);}

.sidebar-btn {
  display: flex;
  flex-direction: column;
  position: start;
  justify-content: right;
  flex-wrap: nowrap;
  background-color: var(--button);
  color: var(--text);
  font-family: 'Budmo';
  font-size: 25px;
  align-items: flex-start; }

.follow-card-header-img {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: right;
  align-items: center;
  width: 100px;
  height: 150px;;
  object-fit: cover;
  margin-right: 20px;
}

.profilePic {
  width: 20vw;
  height: auto;
  margin-right: 20px;}