* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trayan', sans-serif;
}

:root {
    --bg: #282c34;
    --bg-accent: #b6070713;
    --header: hsla(0, 0%, 100%, 0.88);
    --link: #050505;
    --text: hsla(0, 0%, 100%, 0.88);
    --button: #b6070713;
    --aspect-ratio: auto 1 / 1;
    --speed: 500ms;
    --delay: calc(var(--speed) * -1);
    --border-radius: 8px;
    --nav-size: 60px;
}
/*body {
    display: block;
    background-color: rgba(0, 0, 0, 0.902);
    background-image: url("../components/images/theater_dark_shadow.png"),
        url("../components/images/redcurtainsL.jpg"),
        url("../components/images/redcurtainsR.jpg");
    background-repeat: repeat-x, no-repeat, no-repeat;
    background-position: center bottom, center left, center right;
    margin: 0, 0;
    padding: 0, 0;
    overflow: hidden, hidden, hidden;
    background-attachment: fixed, fixed, fixed;
    z-index: 20, -1, -1;
    background-size: 63% 700px, 50% 100%, 50% 100%;
    font-family:
        -apple-system, BlinkMacSystemFont, 
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Trajan", "Trajan Pro",
        "Trayan", "Segoe UI", "Showtime", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;    
}*/

body {
    display: block;
    background-color: rgba(0, 0, 0, 0.902);
    background-image: 
        url("../components/images/redcurtainsL.jpg"),
        url("../components/images/redcurtainsR.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center left, center right;
    margin: 0, 0;
    padding: 0, 0;
    overflow: hidden, hidden;
    background-attachment: fixed, fixed;
    z-index: 0, 0;
    background-size: 50% 100%, 50% 100%;
    font-family:
        -apple-system, BlinkMacSystemFont, 
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Trajan", "Trajan Pro",
        "Trayan", "Segoe UI", "Showtime", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;    
}

body.logged-in {
    transition: background-position 1.5s ease;
    background-position:  -95% 100%, 195% 100%;
    background-size: 50% 100%, 50% 100%;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

li a {
    color: var(--text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px;
    border-right: 1px solid #bbb;}*/

li:first-child {
    border-left: none;
}

.isActive {
    background-color: var(--link);
    color: var(--text);
    transition: background-color 0.3s ease;
}

.card {
  background-color: var(--bg);
  text-align: center;
  z-index: 50;
}

.card img {
  width: 50%;
  height: auto;
  position: relative;}


.card button {
  display: inline-block;
  padding: 12px;
  background-color: darkred;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.card button:hover {
  opacity: 0.7;
}

/*
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
}

li {
  float: right;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
<ul>
  <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
      <div class="dropdown-content">
        <NavLink to="/home/userprofile">Account</NavLink>
        <NavLink to="/home" onClick={logout}>Logout</NavLink>
        <a href="#">Link 3</a>
      </div>
  </li>
</ul>}*/

/*.follow-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;
    width: 100px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;

    background-color: var(--bg);}*/

