.movies-page {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 28%;
    height: 90vh;
    width: 92.5vw;
    overflow-y: auto;
    position: relative;
    z-index: 1;
    background-color: var(--bg);
    color: var(--text);
    margin: 0 0em 0 4em;
}

.movies-search {
    grid-column: 1;
    grid-row: 1;
    position: sticky;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 18vh 1fr;
    font-size: 20px;
    padding: 18% 0 0 0 ;
    margin: 0;
    z-index: 1;
    background-color: var(--bg);
    color: var(--text);}


.movies-searched-container {
    grid-column: 1;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    font-size: 20px;
    position: relative;
    padding: 0 0 0 0;
    margin: 0;
    height: 100vh;
    width: 20vw;
    overflow-y: auto;
}  

.movies-searched-container img {
    display: block;
    width: 5em;
    height: auto;
}

.movies-list {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: .45fr;
    grid-template-rows: 1fr;
    font-size: 20px;
    position: relative;
    padding: 0 0 0 10em;
    margin: 0;
    height: 80vh;
    width: 90vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.moviecard-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    object-fit: cover;
    z-index: -1;
    opacity: 0.3;}

.moviescard-recommend-button {
    position: relative;
    grid-column: 1;
    grid-row: 3;
    box-shadow: .2em .2em .2em 0em #101010;
    right: 0em;
    padding: .5em .5em .5em .5em;
    margin: .5em .5em .5em 1.25em;
    bottom: 0em;
    z-index: 2;}

.moviescard-recommend-button:hover {
    z-index: 2;    
    background-color: darkred;
    color: var(--text);
    transition: background-color 0.2s ease;}

/*.movies-input {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;    
    justify-content: end ;
    align-items: end;
    font-size: 20px;
    padding: 0px 0px 0px 0px;
    margin: 0;
    height: 15vh;
    width: 20vw;
    overflow-y: auto;
    align-content: right;
    z-index: 1;
    background-color: var(--bg);
    color: var(--text);}*/
