
.header {
    display: flex;
    font: 'Trayan';
    width: 100vw; 
    height: 100px;  
    position: top; 
    flex-direction: row;
    float: top;    
    align-items: center;
    background-image: url("./images/redcurtainsL.jpg");
    background-repeat: no-repeat;
    padding: 0px 0px 0px 0px;
    margin: 0px -25px;
    border: 0px;
    box-shadow: 0px 3px 3px #101010;  
    background-size: cover;
    justify-content: space-between;
}
.logo {
    display: flex;
    position: fixed top;
    padding: 20px px 0px 0px;
    float: left;
    width: auto;
    height: 100px;}

.button-header-logout {
    color: white;
    display: flex;
    font-size: 25px;
    justify-content: end;
    padding: 0px 0px 0px 0px;
    align-items: end;
    font-family: 'Trayan';
    text-decoration: none;
}
.button-header-login {
    color: white;
    display: flex;
    font-size: 25px;
    gap: 30px;
    padding: 50px 0px px px;
    align-content: space-between;
    font-family: 'Trayan';
    text-decoration: none;
}
.button-header{
    color: white;
    display: flex;
    font-size: 25px;
    gap: 30px;
    padding: 50px 0px px 150px;
    align-content: space-between;
    font-family: 'Trayan';
    text-decoration: none;
}
